<section class='gallery'>
  {{#each trendingGifs as |gif-info|}}
    <div>
      <img class='gallery__img' src={{gif-info.previewGifUrl}} alt={{gif-info.title}}/>
      <p>{{gif-info.title}}</p>
    </div>
  {{/each}}
</section>